 
<app-top-header></app-top-header>

<!--================Feature Area =================-->
<section class="feature_area feature_area_2 p_120">
  <div class="container">
    <div class="main_title">
    </div>
    <div class="row feature_inner">
      <div class="col-md-12 col-lg-12">
            
        <div class="row" style="min-height:450px;">
        
            <div style="margin:0 auto;"  *ngIf="isValid && isValid==true">
                <h2>Login</h2>
                <form name="resetPasswordForm" (ngSubmit)="fs.form.valid && resetPassword(fs);" #fs="ngForm" novalidate>
                  <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !password.valid }">
                          <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" id="user_password"  placeholder="Password" [(ngModel)]="user.password" #password="ngModel"  required/><!--pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" -->
                      <div *ngIf="fs.submitted && !password.valid && (password.touched && password.errors?.required)" class="help-block">Password is required and must be atleast six characters long.</div>
                  </div>
                  <div class="form-group">
                          <label for="password"> Confirm Password</label>
                      <input type="password" class="form-control" name="confirm_password" id="confirm_password"  placeholder="Confirm Password" [(ngModel)]="confirm_password" #confirmPassword="ngModel" required appConfirmEqualValidator='password'/>
                      <div *ngIf="fs.submitted && (confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required)" class="help-block" >Password Mismatch</div>
                    </div>
                  
                    <!-- <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !password.valid }">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Password" [(ngModel)]="user.password" #password="ngModel"  required/> 
                        <div *ngIf="fs.submitted && !password.valid" class="help-block">Password is required and must be atleast six characters long.</div>
                    </div> -->

                <div class="form-group">
                        <span style="text-align: center;color: #a94442">{{errorMsg}}</span>
                        <span style="text-align: center;color: #28a745">{{sucsMsg}}</span>
                      <button type="submit" class="btn btn-primary signin">Reset <span class="arrowbtn"><span class="fa fa-arrow-right"></span></span></button>
                      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>            
                  </div>
            </form> 
            </div>
            <div *ngIf="!isValid || isValid==false" style="margin:0 auto;"  class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
              <span>Link expired</span>
            </div>        </div>
      </div>
    </div>
  </div>
  </section>
  <!--================End Feature Area =================-->
  

<!--================ start footer Area  =================-->	
<app-footer></app-footer>
<!--================ End footer Area  =================-->

