 
<app-top-header></app-top-header>

<!--================Feature Area =================-->
<section class="feature_area p_120">
  <div class="container">
    <div class="main_title">
    </div>
    <div class="row feature_inner">
      <div class="col-md-12 col-lg-12">
            
        <div class="row" style="min-height:450px;">
        
            <div style="margin:0 auto; width: 322px;">
                <h2>User Signup</h2>
                <form name="register_form" (ngSubmit)="fs.form.valid && signup(fs);" #fs="ngForm" novalidate>
                  <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !firstName.valid }">
                      <label for="email">First Name</label>
                      <input type="text" class="form-control" name="name" id="firstName"  placeholder="Enter First Name" name="firstName" [(ngModel)]="user.firstName" minlength="6" #firstName="ngModel" required />
                      <div *ngIf="fs.submitted && !firstName.valid" class="help-block">First Name is required..</div>
                  </div>
  
                  <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !lastName.valid }">
                      <label for="email">Last Name</label>
                      <input type="text" class="form-control" name="name" id="lastName"  placeholder="Enter Last Name" name="lastName" [(ngModel)]="user.lastName" minlength="3" #lastName="ngModel" required />
                      <div *ngIf="fs.submitted && !lastName.valid" class="help-block">Last Name is required..</div>
                  </div>
                
                  <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !phone.valid }">
                          <label for="phone">Phone</label>
                          <input type="text" class="form-control" name="name" id="phone"  placeholder="Enter Phone" name="phone" [(ngModel)]="user.phone" #phone="ngModel" required />
                          <div *ngIf="fs.submitted && !phone.valid" class="help-block">Phone is required..</div>
                      </div>
                    
  
                  <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !email.valid }">
                      <label for="password">Email</label>
                      <input type="text" class="form-control" name="email" id="email"  placeholder="Enter Email" [(ngModel)]="user.email" #email="ngModel"  required/> 
                      <div *ngIf="fs.submitted && !email.valid" class="help-block">Email is required</div>
                  </div>
  
                  <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !password.valid }">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" id="password"  placeholder="Enter Password" [(ngModel)]="user.password" #password="ngModel"  required/> 
                      <div *ngIf="fs.submitted && !password.valid" class="help-block">Password is required and must be atleast six characters long.</div>
                  </div>
          
              <!-- <div class="form-group">
                      <span style="text-align: center;color: #a94442">{{errorMsg}}</span>
                      <span style="text-align: center;color: #28a745">{{sucsMsg}}</span>
                    <button type="submit" class="btn btn-primary signin">Login <span class="arrowbtn"><span class="fa fa-arrow-right"></span></span></button>
                    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                  </div> -->
  
              <div class="form-group">
                      <span style="text-align: center;color: #a94442">{{errorMsg}}</span>
                      <span style="text-align: center;color: #28a745">{{sucsMsg}}</span>
  
                  <button class="btn btn-primary">Register</button>
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>            
              </div>
          </form>
            </div>
            
        </div>
      </div>
    </div>
  </div>
  </section>
  <!--================End Feature Area =================-->
  

<!--================ start footer Area  =================-->	
<app-footer></app-footer>
<!--================ End footer Area  =================-->