 
<app-top-header></app-top-header>

<!--================Feature Area =================-->
<section class="feature_area feature_area_2 p_120">
  <div class="container">
    <div class="main_title">
    </div>
    <div class="row feature_inner">
      <div class="col-md-12 col-lg-12">
            
        <div class="row">
          <div class="widget-box" style="margin-bottom: 150px;">
            <div class="widget-title">
                <h5>Personal Information</h5>
                <span class="edit_listed user_edit">
                  <a class="edit_link personalinfo_edit" style="color: #428bca;" href="javascript:void(0); createGAClickEventTrackingAdWords('My_Account', 'cta', 'Edit-Account_Details');">Edit</a>
           </span>
            </div>
            <div class="widget-content nopadding" style="width:100%;display:inline-block">
                
                <div class="updated_form" id="personalinformation">
                    <span class="name_updated" id="nameshown" title="Name">Pankaj</span>
                    <span class="email_updated" title="E-mail">pankajkumar1@virtualemployee.com</span>
                    <span class="mobile_updated" title="Mobile no."><span>+91-</span><span id="mobileshown">9599827710</span></span>
                    <span class="location_updated" id="pincodeshown" title="Location">110072, New Delhi</span>
                </div>
            </div>
        </div>

            
            
        </div>
      </div>
    </div>
  </div>
  </section>
  <!--================End Feature Area =================-->
  
  

<!--================ start footer Area  =================-->	
<app-footer></app-footer>
<!--================ End footer Area  =================-->

