 
<app-top-header></app-top-header>

<!--================Feature Area =================-->
<section class="feature_area feature_area_2 p_120">
  <div class="container">
    <div class="main_title">
    </div>
    <div class="row feature_inner">
      <div class="col-md-12 col-lg-12">
            
        <div class="row" style="min-height:450px;">
        
            <div style="margin:0 auto;">
                <h2>Forgot Password</h2>
                <form name="login_form" (ngSubmit)="fs.form.valid && forgotPassword(fs);" #fs="ngForm" novalidate>
                  <div class="form-group" [ngClass]="{ 'has-error': fs.submitted && !email.valid }">
                      <input type="text" class="form-control" name="name" id="email"  placeholder="Email" name="email" [(ngModel)]="user.email" minlength="6" #email="ngModel" required />
                      <div *ngIf="fs.submitted && !email.valid" class="help-block">Email is required..</div>
                  </div>
                    

                  <div class="form-group">
                          <span style="text-align: center;color: #a94442">{{errorMsg}}</span>
                          <span style="text-align: center;color: #28a745">{{sucsMsg}}</span>
                        <button type="submit" class="btn btn-primary signin">submit <span class="arrowbtn"><span class="fa fa-arrow-right"></span></span></button>
                        <a [routerLink]="['/login']" class="btn btn-link">login</a>
                      </div>
              </form>
            </div>
            
        </div>
      </div>
    </div>
  </div>
  </section>
  <!--================End Feature Area =================-->
  

<!--================ start footer Area  =================-->	
<app-footer></app-footer>
<!--================ End footer Area  =================-->

